<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
  <!-- NOTE: DO NOT USE THIS IN AZURE PAAS.            -->
  <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
  
  <!-- The root directory holding the configuration files.
       Default: App_Data
  -->
  <add key="configurationDirectoryRoot" value="App_Data" />
  
  <!-- The name of the environment in which the application is running.
       Default: Development
  -->
  <add key="configurationEnvironment" value="Development" />

  <!-- The location to write log files.
       Default: App_Data/logs
  -->
  <add key="logDirectory" value="App_Data/logs" />

  <!-- The name of this instance of the application.
       Default: MarketingAutomation
  -->
  <add key="instanceName" value="MarketingAutomation" />

  <!-- Indicates whether invalid client certificates are allowed to be used with the XConnect HTTP clients.
       Default: false
  -->
  <add key="AllowInvalidClientCertificates" value="false" />

  <!-- Custom app settings for sending SMS via Twilio -->
  <add key="MA.Demo.Sitecore.Twilio.FromNumber" value="[your Tiwlio from number]" />
  <add key="MA.Demo.Sitecore.Twilio.SID" value="[your Twilio SID]" />
  <add key="MA.Demo.Sitecore.Twilio.AuthToken" value="[your Twilio auth token]" />
    <!-- End custom settings -->
</appSettings>